.git
.github
.vscode
.idea

**/.env
**/.env.*
!**/.env.example

**/node_modules
**/dist
**/vendor

**/_lint-*
**/*backup*
**/*.log
**/*.pem
**/*.key
**/*.crt

BackEndCuyoTechSSIS/storage/logs/*
BackEndCuyoTechSSIS/routes_report.txt